.card-body {
  background: linear-gradient(30deg, rgb(218, 243, 234) 50%,
  rgb(203, 236, 230) 50%);
}

.card-title {
  font-size: 1.5em;
}

.card-rate {
  font-size: 1.2em;
  color: rgb(189, 90, 110);
}

.card {
  height: 500px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-overview,
.card-buttons {
  line-height: 1.12;
  opacity: 0;
  transition: all 0.6s ease;
}

.card:hover .card-overview {
  opacity: 1;
}

.card:hover .card-buttons {
  opacity: 1;
}

.card-img-top {
  flex-basis: 50%;
  overflow: hidden;
  transition: all 0.6s ease;
}


.card:hover .card-img-top {
  flex-basis: 0%;
}

.btn {
  min-width: 150px;
}